.fantasy-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
}

.fantasy-container > div:first-child {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.fantasy-container > div:first-child > div:first-child {
  width: 50%;
}

.fantasy-container > div:first-child > div:first-child > table {
  width: 99%;
}

.fantasy-container > div:first-child > div:first-child td {
  padding: 0px 0px 0px 2vw;
}

.delete-btn img {
  width: 10px;
}

.fantasy-div {
  display: none;
  /* overflow: hidden; */
}

.shown {
  display: flex;
  flex-flow: column wrap;
  position: sticky;
  top: 0%;
  z-index: 9;

  max-height: 99vh;
  overflow-y: scroll;
}

.fantasy-div img {
  cursor: pointer;
}

.fantasy-save-btn {
  color: black;
}
