.welcome-text > h1 {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 200%;
  margin: 50px 50px;
  color: white;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 35px;
  margin: auto 50px 100px 50px;
}
.card-container > a {
  display: flex;
  /* flex-grow: 1; */
  /* max-width: 200px; */
}
