.league-routes-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0px;
    font-size: 1.8vw;
}

.league-routes-link{
    transition: all 0.3s ease;
}

.league-routes-link span{
    display: block;
    margin: 1em 0;
    font-size: clamp(10px, 1em, 18px) ;
    font-weight: 500;
}

.league-routes-link:hover{
    scale:1.1
}

.league-routes-link *{
    letter-spacing: 1px;
}
.clicked *{
    text-decoration: underline ;
    scale: 1.1;
}


