.container{
  flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.display {

    background: 
      radial-gradient(circle, transparent 40%, var(--color-top) 75%),
      linear-gradient(to right, var(--color), var(--color)),
      url(../assets/valentin-kremer-noqQBb1EKkc-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-blend-mode: 
      var(--blend-top, normal),
      var(--blend-bottom, saturation),
      normal;
    
    
    --color-top: black;
    --color: grey;  
    
    flex: 1;
    width: 100vw;
  }
  
  
  
  
  



  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-around;
    padding: .75rem;
    color: black;
    font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
    font-size: 87.5%;
    border-bottom: 3px double rgba(250,252,255, .67);
  }
  form>div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  select {
    font-size: 87.5%;
  }
  
  
  
  
  
  /* Addition for Edge, typically would do the inverse, but for a demo, using the negation support check */
  @supports not (background-blend-mode: saturation) {
    .display {
      --color: transparent;
    }
    form {
      position: relative;
    }
    form::after {
      content: 'Blend Modes are not supported in this browser';
      background: rgba(0,0,0,.95);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    } 
  }